.movieDetailsContainer {
  height: 97vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.movieDetails {
  position: relative;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.movieImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.movieDetailsBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}

@media (max-width: 768px) {
  .movieDetailsBox {
    overflow: scroll;
  }
}

.movieDetailsBox2 {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  margin: 5px 0;
}
